@model Komis.ViewModels.HomeVM
        <h1>@Model.Tytul</h1>
        @foreach (var samochod in Model.Samochody)
    {
        <div>
            <h2>@samochod.Marka</h2>
            <h2>@samochod.Model</h2>
        </div>
    }

