@model IEnumerable<Komis.Models.Samochod>
<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <title>Moja witryna</title>
    <meta name="author" content="Alice Gajos">

    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
</head>


<body>
    <h2>@ViewBag.tytul</h2>

</body>

</html>